@import "basic";

.navbar {
  @include sizing(100%, max-content);
  @include flex(row, center, space-between);
  padding: 20px 40px;
  color: $white;

  &__title {
    font-size: 2.3rem;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.main {
  margin-top: 80px;
  @include flex();
  &__upload-box {
    width: 60%;
    @include flex(column);

    .file-input {
      display: none;
    }

    &__container {
      position: relative;
      @include sizing(600px, 500px);
      border: 10px dashed $light-green;
      background-color: #d9d9d94d;
      @include flex(column, center, center);
      row-gap: 50px;
      &__img-box {
        width: 100%;
        @include flex();
      }
      &__content-box {
        color: $white;
        text-align: center;

        &__title {
          font-size: 1.5rem;
          margin-bottom: 20px;

          .browse-btn {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__aside {
    @include sizing(40%, 500px);
    @include flex(column, center, flex-start);
    row-gap: 20px;

    &__body {
      &__title {
        color: $white;
        font-size: 1.3rem;
      }
      &__step-container {
        margin-top: 20px;
        @include flex(column, flex-start, flex-start);
        row-gap: 30px;
        color: $dark-light;

        &__box {
          position: relative;
          @include flex(row, center, flex-start);

          .upload-progress-box {
            position: absolute;
            top: 30px;
            left: 11px;
            @include sizing(3px, 40px);
            background-color: $dark-light-2;
          }

          .upload-progress,
          .response-progress {
            display: block;
            @include sizing(100%, 0%);
            background-color: $orange;
          }

          .response-progress-box {
            position: absolute;
            top: 50px;
            left: 11px;
            @include sizing(3px, 42px);
            background-color: $dark-light-2;
          }

          &__icon {
            position: relative;
            @include sizing(25px, 25px);
            background-color: $dark-light-2;
            border-radius: 50%;
            margin-right: 5px;

            &::before,
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include sizing(10px, 10px);
              background-color: $dark-light;
              border-radius: 50%;
              transition: all 0.3s;
            }

            &.done {
              background-color: $orange;

              &::before {
                @include sizing(8px, 3px);
                transform: rotate(45deg) translate(-5px, 6px);
                left: 45%;
                background-color: $white;
                border-radius: 10px;
              }
              &::after {
                @include sizing(15px, 3px);
                transform: rotate(-50deg) translate(-2px, -4px);
                background-color: $white;
                left: 45%;
                border-radius: 10px;
              }
            }
          }
        }

        .time-box {
          .main__aside__body__step-container__text {
            @include flex(column, flex-start, flex-start);
            margin-top: 20px;

            &__sub-text {
              @include flex(row, center, flex-start);
            }
            .clock-icon {
              margin-top: 5px;
              display: inline-block;
              width: 20px;
              color: $dark-light;
            }
            span:last-child {
              position: relative;
              top: -5px;
              font-size: 0.9rem;
              color: $dark-light;
            }
          }
        }
      }
    }
  }

  &__modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
    @include sizing(100%, 100%);
    background-color: rgba($dark, 0.5);
    @include flex();
    display: none;

    &__content-box {
      padding: 15px 10px;
      @include sizing(500px, 300px);
      background-color: $dark;
      border: 5px solid $light-green;
      border-style: double;
      border-radius: 10px;
      box-shadow: 0 2px 15px rgba($light-green, 0.5);
      @include flex(column, flex-start, space-around);
      transform: translateY(100px);
      opacity: 0;
      transition: all 0.3s;

      &__info {
        width: 100%;

        h4 {
          color: $white;
          letter-spacing: 2px;
          margin-bottom: 15px;

          span {
            color: $light-green;
          }
        }
      }

      &__download-box {
        width: 100%;
        @include flex(row, center, flex-start);
        column-gap: 5px;
        .download-btn {
          text-decoration: none;
          flex-basis: 80%;
          display: block;
          background-color: $light-green;
          color: $dark;
          padding: 10px;
          border-radius: 10px;
          filter: drop-shadow(0 0 5px rgba($light-green, 0.5));
          cursor: pointer;
          font-weight: 700;
          text-align: center;

          &:active {
            transform: scale(0.98);
          }
        }

        .close-btn {
          all: unset;
          text-align: center;
          flex-basis: 20%;
          border-radius: 10px;
          background-color: $light-red;
          filter: drop-shadow(0 0 5px rgba($light-red, 0.5));
          cursor: pointer;
          @include flex();
          padding: 4.5px;
          &-icon {
            width: 30px;
          }

          &:active {
            transform: scale(0.98);
          }
        }
      }
    }

    &.active {
      visibility: visible;
      opacity: 1;
      display: flex;

      .main__modal__content-box {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.hide-box {
  display: none;
}

.dragover {
  background-color: $dark-light;
}

@media screen and (max-width: 1100px) {
  .main__upload-box__container {
    @include sizing(500px, 400px);
  }
}
@media screen and (max-width: 880px) {
  .main {
    margin-top: 40px;
    flex-direction: column;
    row-gap: 50px;
  }
  .main__upload-box,
  .main__aside {
    width: 100%;
  }
  .main__upload-box__container {
    @include sizing(600px, 400px);
  }
}
@media screen and (max-width: 640px) {
  .main__upload-box__container {
    @include sizing(400px, 400px);

    &__img-box {
      &__img {
        width: 150px;
      }
    }

    &__content-box {
      &__title {
        font-size: 1.1rem;
      }
      &__text {
        font-size: 0.9rem;
      }
    }
  }

  .main__modal__content-box {
    @include sizing(400px, 250px);
    padding: 15px 10px;

    h4 {
      font-size: 0.8rem;
    }
  }

  .navbar__title {
    font-size: 1.3rem;
  }

  .navbar__link {
    font-size: 1rem;
  }
  .navbar {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 460px) {
  .main__modal__content-box {
    @include sizing(300px, 300px);
    padding: 15px 10px;

    h4 {
      font-size: 0.7rem;
    }
  }
  .main__upload-box__container {
    @include sizing(300px, 300px);

    &__img-box {
      &__img {
        width: 100px;
      }
    }
  }

  .main__aside {
    &__header {
      &__img {
        width: 250px;
      }
    }

    &__body {
      &__title {
        font-size: 1rem;
        text-align: center;
      }
      &__step-container {
        transform: scale(0.9);
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .main__upload-box__container {
    @include sizing(250px, 300px);

    &__content-box {
      &__title {
        font-size: 0.9rem;
      }
      &__text {
        font-size: 0.7rem;
      }
    }
  }

  .main__modal__content-box {
    @include sizing(280px, 280px);
    padding: 10px 5px;

    .download-btn {
      padding: 7px;
    }
  }
}
