@import "basic";

.navbar {
  @include sizing(100%, max-content);
  @include flex(row, center, space-between);
  padding: 20px 40px;
  color: $white;

  &__title {
    font-size: 2.3rem;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.main {
  margin-top: 80px;
  @include flex();
  &__upload-box {
    width: 60%;
    @include flex(column);

    .file-input {
      display: none;
    }

    .download-btn {
      width: 600px;
      margin-top: 30px;
      background-color: $light-green;
      color: $dark;
      padding: 10px;
      border-radius: 10px;
      filter: drop-shadow(0 0 5px rgba($light-green, 0.5));
      cursor: pointer;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      font-weight: 700;
      text-align: center;
      transition: opacity 0.4s;

      &:active {
        transform: scale(0.98);
      }
    }

    &__container {
      position: relative;
      @include sizing(600px, 500px);
      border: 10px dashed $light-green;
      background-color: #d9d9d94d;
      @include flex(column, center, center);
      row-gap: 50px;
      &__img-box {
        width: 100%;
        @include flex();
      }
      &__content-box {
        color: $white;
        text-align: center;

        &__title {
          font-size: 1.5rem;
          margin-bottom: 20px;

          .browse-btn {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__aside {
    @include sizing(40%, 500px);
    @include flex(column, center, flex-start);
    row-gap: 20px;

    &__body {
      &__title {
        color: $white;
        font-size: 1.3rem;
      }
      &__step-container {
        margin-top: 20px;
        @include flex(column, flex-start, flex-start);
        row-gap: 30px;
        color: $dark-light;

        &__box {
          position: relative;
          @include flex(row, center, flex-start);

          .upload-progress-box {
            position: absolute;
            top: 30px;
            left: 11px;
            @include sizing(3px, 40px);
            background-color: $dark-light-2;
          }

          .upload-progress,
          .response-progress {
            display: block;
            @include sizing(100%, 0%);
            background-color: $orange;
          }

          .response-progress-box {
            position: absolute;
            top: 50px;
            left: 11px;
            @include sizing(3px, 42px);
            background-color: $dark-light-2;
          }

          &__icon {
            position: relative;
            @include sizing(25px, 25px);
            background-color: $dark-light-2;
            border-radius: 50%;
            margin-right: 5px;

            &::before,
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include sizing(10px, 10px);
              background-color: $dark-light;
              border-radius: 50%;
              transition: all 0.3s;
            }

            &.done {
              background-color: $orange;

              &::before {
                @include sizing(8px, 3px);
                transform: rotate(45deg) translate(-5px, 6px);
                left: 45%;
                background-color: $white;
                border-radius: 10px;
              }
              &::after {
                @include sizing(15px, 3px);
                transform: rotate(-50deg) translate(-2px, -4px);
                background-color: $white;
                left: 45%;
                border-radius: 10px;
              }
            }
          }
        }

        .time-box {
          .main__aside__body__step-container__text {
            @include flex(column, flex-start, flex-start);
            margin-top: 20px;

            &__sub-text {
              @include flex(row, center, flex-start);
            }
            .clock-icon {
              margin-top: 5px;
              display: inline-block;
              width: 20px;
              color: $dark-light;
            }
            span:last-child {
              position: relative;
              top: -5px;
              font-size: 0.9rem;
              color: $dark-light;
            }
          }
        }
      }
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    bottom: 0;
    @include sizing(100%, 100vh);
    background-color: rgba($dark, 0.5);
    @include flex();

    &__content-box {
      padding: 15px 10px;
      @include sizing(500px, 300px);
      background-color: $dark;
      border: 5px dashed $light-green;
      border-radius: 10px;
      box-shadow: 0 2px 15px rgba($light-green, 0.5);

      &__info {
        h4 {
          color: $white;
          letter-spacing: 2px;
          margin-bottom: 10px;

          span {
            color: $light-green;
          }
        }
      }
    }
  }
}

.hide-box {
  display: none;
}

.dragover {
  background-color: $dark-light;
}
